<!DOCTYPE html>
<html lang="zh-cn" class="fullscreen-bg" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/links :: common_header(~{::title},~{::style},~{})">
    <title>留言咨询</title>
    <style>

        #serviceForm {
            padding-top: 10px;
        }

        .has-handle {
            margin-bottom: 2px;
        }

    </style>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">会员姓名:</label>
                        <div class="layui-input-inline">
                            <input name="userName" class="layui-input" placeholder="输入会员姓名"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">手机号码:</label>
                        <div class="layui-input-inline">
                            <input name="mobile" class="layui-input" placeholder="输入手机号码"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">状态:</label>
                        <div class="layui-input-inline">
                            <select name="isHandle" lay-search>
                                <option value="">请选择状态</option>
                                <option value="0">未处理</option>
                                <option value="1">已处理</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline searchPart">
                        <button class="layui-btn icon-btn" lay-filter="searchBtn" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>&nbsp;
                        <button id="resetBtn" class="layui-btn icon-btn layui-btn-primary" type="reset">
                            <i class="layui-icon">&#xe9aa;</i>重置
                        </button>
                    </div>
                </div>
            </form>
            <table id="dataTable" lay-filter="dataTable"></table>
        </div>
    </div>
</div>

<script type="text/html" id="modelService">
    <form id="serviceForm" lay-filter="serviceForm" class="layui-form model-form">
        <input name="id" type="hidden">
        <div class="layui-form-item has-handle">
            <div class="layui-inline hide serviceWay">
                <label class="layui-form-label">服务方式:</label>
                <div class="layui-input-block notLine">
                    <input name="serviceWayTxt" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">服务类型:</label>
                <div class="layui-input-block notLine">
                    <input name="serviceTypeTxt" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">创建时间:</label>
                <div class="layui-input-block notLine">
                    <input name="createTime" class="layui-input">
                </div>
            </div>
            <div class="layui-inline handleUser">
                <label class="layui-form-label">服务人员:</label>
                <div class="layui-input-block notLine">
                    <input name="handleUser" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item add-item hide">
            <div class="layui-inline">
                <label class="layui-form-label layui-form-required required-label">服务方式:</label>
                <div class="layui-input-block">
                    <select name="serviceWay" lay-filter="serviceWay" lay-verType="tips" lay-verify="required"
                            required>
                        <option value="1" selected>电话</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required required-label">服务内容:</label>
            <div class="layui-input-block">
                <textarea name="content" placeholder="请输入服务内容" class="layui-textarea" maxlength="1000"
                          lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="serviceSaveBtn" lay-submit id="serviceSaveBtn">保存</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closePageDialog">取消</button>
        </div>
    </form>
</script>

<script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-xs {{d.handleUserId==null?'layui-btn-normal':'layui-btn-primary'}}"
       lay-event="handle">{{d.handleUserId==null?'处理':'查看'}}</a>
</script>

<div th:replace="common/scripts :: common"></div>
<div th:replace="common/scripts :: jquery"></div>

<script th:inline="javascript">
    layui.use(['layer', 'form', 'admin', 'table', 'index'], function () {
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var isHandle = window.GetQueryStringValue("isHandle");

        $("select[name='isHandle']").find("option[value='" + isHandle + "']").attr("selected", true);
        form.render("select");

        $("#resetBtn").click(function () {
            isHandle = null;
            $("select[name='isHandle']").find("option[value!='']").removeAttr("selected");
            $("select[name='isHandle']").find("option[value='']").attr("selected", true);
            form.render("select");
        })

        var insTb = table.render({
            elem: '#dataTable',
            cellMinWidth: 100,
            height: $(".layui-form").height() > 46 ? "full-142" : "full-98",
            method: "POST",
            url: '/serviceRecord/listConsult',
            where: {isHandle: isHandle},
            cols: [
                [
                    {field: 'userId', title: '会员ID', width: 80},
                    {field: 'mobile', title: '手机号码', width: 130},
                    {field: 'userName', title: '会员姓名', width: 130},
                    {
                        field: 'createTime', title: '创建时间', templet: function (d) {
                            return d.createTime != null ? util.toDateString(d.createTime) : "";
                        }, sort: true, width: 170
                    },
                    {field: 'message', title: '留言', minWidth: 250},
                    {title: '操作', toolbar: '#tableBar', align: 'center', width: 130, fixed: 'right'}
                ]
            ],
            loading: false,
            page: true,
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.errorMessage, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.records //解析数据列表
                };
            }
        });

        form.on('submit(searchBtn)', function (data) {
            for (var f in data.field) {
                data.field[f] = $.trim(data.field[f]);
            }
            insTb.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        table.on('tool(dataTable)', function (obj) {
            if (obj.event === 'handle') {
                showHandleModel(obj.data);
            }
        });

        function showHandleModel(mData) {
            admin.open({
                type: 1,
                area: '640px',
                title: mData.handleUserId ? '查看留言咨询' : '处理留言咨询',
                content: $('#modelService').html(),
                success: function (layero, dIndex) {
                    if (mData != null) {
                        mData.serviceWayTxt = returnServiceWayTxt(mData.serviceWay);
                        mData.serviceTypeTxt = returnServiceTypeTxt(mData.serviceType);
                        $("#serviceForm input").attr("readonly", "true").attr("disabled", "true");
                        if (mData.serviceWay) {
                            $(".serviceWay").removeClass('hide');
                        } else {
                            mData.serviceWay = "1";
                            $(".add-item").removeClass('hide');
                        }
                        if (mData.handleUserId) {
                            $(".handleUser").removeClass('hide');
                            $("#serviceForm textarea").attr("readonly", "true").attr("disabled", "true");
                            $("#serviceSaveBtn").addClass('hide');
                            $("#serviceForm .required-label").removeClass('layui-form-required');

                        } else {
                            $(".handleUser").addClass('hide');
                            $("#serviceSaveBtn").removeClass('hide');
                            $("#serviceForm .required-label").addClass('layui-form-required');
                        }
                    }

                    form.val('serviceForm', mData);
                    // 表单提交事件
                    form.on('submit(serviceSaveBtn)', function (data) {
                        data.field.serviceType = mData.serviceType;
                        data.field.userId = mData.userId;
                        $.post({
                            url: '/serviceRecord/addOrUpdate',
                            data: JSON.stringify(data.field),
                            async: false,
                            contentType: 'application/json',
                            success: function (res) {
                                if (res.success) {
                                    layer.close(dIndex);
                                    layer.msg(res.data, {icon: 1});
                                    insTb.reload();
                                } else {
                                    errorMsg(res.errorMessage);
                                }
                            }
                        });
                        return false;
                    })
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }
            });
        }

        function returnServiceWayTxt(val) {
            var text = "";
            switch (val) {
                case 1:
                    text = "电话";
                    break;
            }
            return text;
        }

        function returnServiceTypeTxt(val) {
            var text = "";
            switch (val) {
                case 1:
                    text = "咨询";
                    break;
                case 2:
                    text = "用药指导";
                    break;
                case 3:
                    text = "复购提醒";
                    break;
            }
            return text;
        }

    });
</script>
</body>
</html>